// Logo替代
@mixin replace-text {
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
}

// 變數

$primary: #3d1101;
$secondary: #efe9e7;
$warning: #ff5e45;
$danger: #f56c23;

$fs-xs: 12px;
$fs-s: 14px;
$fs-m: 18px;
$fs-ml: 20px;
$fs-l: 24px;
$fs-xl: 36px;


.d-flex {
    display: flex;
}

.container {
    max-width: 1024px;
    margin: 0 auto;

    @include g-md {
        max-width: 708px;
    }

    @include g-sm {
        max-width: 320px;
    }
}