// feature
.feature {
    color: $primary;
    margin-bottom: 50px;

    h4 {
        font-size: $fs-ml;
        text-align: center;
        margin: 50px 0 30px;
        line-height: 1.6;

        &::before {
            content: "";
            position: absolute;
            top: 53%;
            left: 25%;
            width: 120px;
            height: 1px;
            background: #979797;

            @include g-md {
                left: 18%;
            }

            @include g-sm {
                display: none;
            }
        }

        &::after {
            content: "";
            position: absolute;
            top: 53%;
            right: 25%;
            width: 120px;
            height: 1px;
            background: #979797;

            @include g-md {
                right: 18%;
            }

            @include g-sm {
                display: none;
            }
        }
    }

    img {
        border-radius: 50%;
        margin: auto;
    }

    ul {
        @include g-sm {
            display: block;
        }
    }

    li {
        width: 33.33333%;

        @include g-sm {
            width: 100%;
            margin-bottom: 30px;
        }
    }

    h5 {
        font-size: $fs-m;
        margin: 20px 0 10px;
        text-align: center;
    }
}

// chef

.chef {
    background: $primary;
    color: $secondary;
    margin-bottom: 50px;

    &-text {
        padding: 80px 80px 80px 24px;
    }

    h4 {
        font-size: $fs-ml;
    }

    p:last-child {
        margin-top: 16px;
    }

    @include g-md {
        &-text {
            padding: 50px 24px;
        }

        img {
            width: 50%;
            object-fit: cover;
        }
    }

    @include g-sm {
        &-content {
            display: block;
        }

        img {
            width: 100%;
        }
    }
}

// review

.review {
    color: $primary;
    margin-bottom: 50px;

    h3 {
        font-size: $fs-l;
        text-align: center;
        margin-bottom: 32px;
    }

    img {
        border-radius: 50%;
        height: 67px;
    }

    ul {
        justify-content: space-between;
    }

    li {
        width: 33.33333%;

        &:nth-child(2) {
            margin: 0 20px;
        }
    }

    h5 {
        font-size: $fs-m;
        margin: 24px 0;
    }

    &-text {
        margin-left: 12px;
        flex-direction: column;

        p:last-child {
            margin-top: 16px;
            padding-right: 8px;
            text-align: right;
        }
    }

    @include g-sm {
        &-content {
            display: block;
        }

        li {
            width: 100%;
        }
    }
}

// site

.site {
    background: rgba(#fafafa, 0.7);
    color: $primary;
    padding: 50px 0;

    &-content {
        justify-content: space-between;

        @include g-sm {
            display: block;
        }
    }

    h3 {
        text-align: center;
        font-size: $fs-l;
        margin-bottom: 36px;
    }

    form {
        width: 49%;
        flex-direction: column;

        @include g-sm {
            width: 100%;
        }
    }

    img {
        width: 49%;

        @include g-md {
            object-fit: cover;
        }

        @include g-sm {
            width: 100%;
        }
    }

    label {
        display: inline-block;
        margin-bottom: 6px;
    }

    input {
        padding: 5px 14px;
        margin-bottom: 12px;
    }

    #veg-y {
        margin-right: 24px;
    }

    .btn {
        text-align: end;
        margin-top: 58px;

        a {
            color: #fff;
            font-size: $fs-s;

            &:hover {
                opacity: 0.6;
            }

            &:first-child {
                background: rgba(#000000, 0.35);
                padding: 6px 21px;
                border-radius: 3px;
                margin-right: 12px;
            }

            &:last-child {
                background: $danger;
                padding: 6px 21px;
                border-radius: 3px;
            }
        }

    }


}